:root {
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --duration-fast: 150ms;
  --duration-normal: 300ms;
  --duration-slow: 450ms;

  --transition-standard: var(--duration-normal) var(--ease-standard);
}
